@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@font-face {
  font-family: "Poppins", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
}

.val{
    padding-top:350px
}
html {
  background-color: #FFFFFF;
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
.lucile{
    font-weight: 500 !important;
    font-size:80px;
    margin-bottom:30px !important;
}
h2 {
    font-weight:400 !important;
    padding-top:15px !important;
    max-width:900px;
 padding-top:50px;
  font-size: 45px !important;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h3 {
    font-weight: 300 !important;
  font-size: 40px !important;
}

p {
    padding-top: 15px !important;
  font-size: 25px;
  margin: 0;
  transform: translateY(50%);
}

#myCanvas {
  cursor: default;
  background-image: url("./UGG1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  position: absolute;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 2px solid black;
}

.button:hover {
  background-color: #ff5c5c;
}

body{
    width: 980px;
    height: 980px;
}

html, body {margin: 0; height: 100%; overflow: hidden}